{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="#row">

            <div style="text-align: center;">
                <canvas id="chart" width="1000" height="400"></canvas>
                <script>
                    var ctx = document.getElementById('chart').getContext('2d');
                    var chart_uk_new_cases = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [
                                {% for item in labels %}
                                    "{{ item }}",
                                {% endfor %}
                            ],
                            datasets: [{
                                label: '# of cases',
                                data: [
                                    {% for item in values %}
                                        "{{ item }}",
                                    {% endfor %}
                                ],
                                backgroundColor: [
                                    {% for item in back_colours %}
                                        "{{ item }}",
                                    {% endfor %}
                                ],
                                borderColor: [
                                    {% for item in border_colours %}
                                        "{{ item }}",
                                    {% endfor %}
                                ],
                                borderWidth: 1,
                                barPercentage: 0.9,
                                barThickness: 'flex',
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]

                            },
                            title: {
                                display: true,
                                text: '{{ title }}'
                            }
                        }
                    });
                </script>

            </div>

        </div>
        <br>
        <div class="#row">
            <a href="{{ url_for('coviduk') }}" role="button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
                Back
            </a>
        </div>

        <div class="#row">
            <br><br>
            <h6>powered by: https://api.coronavirus.data.gov.uk/v1/data</h6>
            <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Hits">
        </div>

    </div>

{% endblock %}