{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">

        <div class="#row">


            <div style="text-align: center;">
                <canvas id="chart" width="1000" height="400"></canvas>
                <script>
                    var ctx = document.getElementById('chart').getContext('2d');
                    var chart_uk_new_cases = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [
                                {% for item in labels %}
                                    "{{ item }}",
                                {% endfor %}
                            ],
                            datasets: [{
                                data: [
                                    {% for item in ukvalues %}
                                        "{{ item }}",
                                    {% endfor %}
                                ],
                                label: "United Kingdom",
                                borderColor: "rgba(0, 0, 0, 0.3)",
                                backgroundColor: "rgba(0, 0, 0, 0.3)",
                                borderWidth: 1,
                                borderDash: [3, 3],
                                pointBorderWidth: 0,
                                pointRadius: 0,
                                pointHoverRadius: 5,
                                fill: false
                            }, {
                                data: [
                                    {% for item in envalues %}
                                        "{{ item }}",
                                    {% endfor %}
                                ],
                                label: "England",
                                borderColor: "rgba(204, 51, 0, 0.5)",
                                backgroundColor: "rgba(204, 51, 0, 0.5)",
                                borderWidth: 1,
                                pointBorderWidth: 0,
                                pointRadius: 1,
                                pointHoverRadius: 5,
                                fill: false
                            }, {
                                data: [
                                    {% for item in scovalues %}
                                        "{{ item }}",
                                    {% endfor %}
                                ],
                                label: "Scotland",
                                borderColor: "rgba(51, 153, 255, 0.5)",
                                backgroundColor: "rgba(51, 153, 255, 0.5)",
                                borderWidth: 1,
                                pointBorderWidth: 0,
                                pointRadius: 1,
                                pointHoverRadius: 5,
                                fill: false
                            }, {
                                data: [
                                    {% for item in wavalues %}
                                        "{{ item }}",
                                    {% endfor %}
                                ],
                                label: "Wales",
                                borderColor: "rgba(0, 153, 0, 0.5)",
                                backgroundColor: "rgba(0, 153, 0, 0.5)",
                                borderWidth: 1,
                                pointBorderWidth: 0,
                                pointRadius: 1,
                                pointHoverRadius: 5,
                                fill: false
                            }, {
                                data: [
                                    {% for item in nivalues %}
                                        "{{ item }}",
                                    {% endfor %}
                                ],
                                label: "Northern Ireland",
                                borderColor: "rgba(255, 204, 0, 0.5)",
                                backgroundColor: "rgba(255, 204, 0, 0.5)",
                                borderWidth: 1,
                                pointBorderWidth: 0,
                                pointRadius: 1,
                                pointHoverRadius: 5,
                                fill: false
                            }
                            ]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            title: {
                                display: true,
                                text: '{{ title }}'
                            }
                        }
                    });
                </script>

            </div>

        </div>
        <br>
        <div class="#row">
            <a href="{{ url_for('coviduk') }}" role="button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
                Back
            </a>
        </div>

        <div class="#row">
            <br><br>
            <h6>powered by: https://api.coronavirus.data.gov.uk/v1/data</h6>
            <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Hits">
        </div>

    </div>

{% endblock %}