<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.js" integrity="sha512-xQokr7XOzq2ogYezmdoq13t2xcYBoKM0aZJjF91NvQX2D114fVe5yghALtQ25S+iADg4Cqzyj0P7MluW2TrgHw==" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
  <meta charset="UTF-8">
  <title>COVID</title>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">latidude99's python playground</a>
        </div>
    </div>
</nav>
<div class="container-fluid">

  <div class="#row">


      <div style="text-align: center;">
          <canvas id="chart" width="1000" height="400"></canvas>
          <script>
              var ctx = document.getElementById('chart').getContext('2d');
              var chart_uk_new_cases = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels : [
                              {% for item in labels %}
                               "{{ item }}",
                              {% endfor %}
                        ],
                        datasets: [{
                            data : [
                                {% for item in ukvalues %}
                                   "{{ item }}",
                                  {% endfor %}
                            ],
                            label: "United Kingdom",
                            borderColor: "rgba(0, 0, 0, 0.3)",
                            backgroundColor: "rgba(0, 0, 0, 0.3)",
                            borderWidth:1,
                            borderDash: [3, 3],
                            pointBorderWidth: 0,
                            pointRadius: 0,
                            pointHoverRadius: 5,
                            fill: false
                            },{
                            data : [
                                {% for item in envalues %}
                                   "{{ item }}",
                                  {% endfor %}
                            ],
                            label: "England",
                            borderColor: "rgba(204, 51, 0, 0.5)",
                            backgroundColor: "rgba(204, 51, 0, 0.5)",
                            borderWidth:1,
                            pointBorderWidth: 0,
                            pointRadius: 1,
                            pointHoverRadius: 5,
                            fill: false
                            },{
                            data : [
                                {% for item in scovalues %}
                                   "{{ item }}",
                                  {% endfor %}
                            ],
                            label: "Scotland",
                            borderColor: "rgba(51, 153, 255, 0.5)",
                            backgroundColor: "rgba(51, 153, 255, 0.5)",
                            borderWidth:1,
                            pointBorderWidth: 0,
                            pointRadius: 1,
                            pointHoverRadius: 5,
                            fill: false
                            },{
                            data : [
                                {% for item in wavalues %}
                                   "{{ item }}",
                                  {% endfor %}
                            ],
                            label: "Wales",
                            borderColor: "rgba(0, 153, 0, 0.5)",
                            backgroundColor: "rgba(0, 153, 0, 0.5)",
                            borderWidth:1,
                            pointBorderWidth: 0,
                            pointRadius: 1,
                            pointHoverRadius: 5,
                            fill: false
                            },{
                            data : [
                                {% for item in nivalues %}
                                   "{{ item }}",
                                  {% endfor %}
                            ],
                            label: "Northern Ireland",
                            borderColor: "rgba(255, 204, 0, 0.5)",
                            backgroundColor: "rgba(255, 204, 0, 0.5)",
                            borderWidth:1,
                            pointBorderWidth: 0,
                            pointRadius: 1,
                            pointHoverRadius: 5,
                            fill: false
                            }
                            ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        title: {
                          display: true,
                          text: '{{ title }}'
                        }
                    }
                });
          </script>

      </div>

  </div>
  <br>
  <div class="#row">
      <a href="{{url_for('coviduk')}}" role="button" class="btn btn-default">
          <span class="glyphicon glyphicon-menu-left"></span>
          Back
      </a>
  </div>

  <div class="#row">
    <br><br>
    <h6>powered by: https://api.coronavirus.data.gov.uk/v1/data</h6>
    <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Hits">
  </div>

</div>

</body>
</html>
</body>
</html>