{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <h2>COVID-19</h2>
            <p></p>

        </div>

        <div class="row">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Selected data from the official UK government sources</span>
                        <span class="pull-right">Last Update: {{ release_date }}</span>
                    </div>

                    <h6 style="color: red;">'New deaths' and 'Total deaths' data are delayed 1-4 days, depending on the
                        country</h6>

                    <ul class="nav nav-tabs ">
                        <li class="active"><a data-toggle="tab" href="#uk">United Kingdom</a></li>
                        <li><a data-toggle="tab" href="#england">England</a></li>
                        <li><a data-toggle="tab" href="#scotland">Scotland</a></li>
                        <li><a data-toggle="tab" href="#wales">Wales</a></li>
                        <li><a data-toggle="tab" href="#northernir">Northern Ireland</a></li>
                    </ul>
                    <br>
                    <a data-toggle="collapse" href="#collapse1">show/hide full table &nbsp; &nbsp;
                        <i class="fa fa-angle-down"></i>
                        &nbsp;
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="tab-content">

                            <div id="uk" class="tab-pane fade in active">
                                <h3>United Kingdom</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Area</th>
                                            <th>New cases</th>
                                            <th>Total cases</th>
                                            <th>New deaths</th>
                                            <th>Total deaths</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for u in update[0] %}
                                            <tr>
                                                <td>{{ u.date }}</td>
                                                <td>{{ u.name }}</td>
                                                <td>{{ u.new_cases }}</td>
                                                <td>{{ u.total_cases }}</td>
                                                <td>{{ u.new_deaths }}</td>
                                                <td>{{ u.total_deaths }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="england" class="tab-pane fade">
                                <h3>England</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Area</th>
                                            <th>New cases</th>
                                            <th>Total cases</th>
                                            <th>New deaths</th>
                                            <th>Total deaths</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for u in update[1] %}
                                            <tr>
                                                <td>{{ u.date }}</td>
                                                <td>{{ u.name }}</td>
                                                <td>{{ u.new_cases }}</td>
                                                <td>{{ u.total_cases }}</td>
                                                <td>{{ u.new_deaths }}</td>
                                                <td>{{ u.total_deaths }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="scotland" class="tab-pane fade">
                                <h3>Scotland</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Area</th>
                                            <th>New cases</th>
                                            <th>Total cases</th>
                                            <th>New deaths</th>
                                            <th>Total deaths</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for u in update[2] %}
                                            <tr>
                                                <td>{{ u.date }}</td>
                                                <td>{{ u.name }}</td>
                                                <td>{{ u.new_cases }}</td>
                                                <td>{{ u.total_cases }}</td>
                                                <td>{{ u.new_deaths }}</td>
                                                <td>{{ u.total_deaths }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="wales" class="tab-pane fade">
                                <h3>Wales</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Area</th>
                                            <th>New cases</th>
                                            <th>Total cases</th>
                                            <th>New deaths</th>
                                            <th>Total deaths</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for u in update[3] %}
                                            <tr>
                                                <td>{{ u.date }}</td>
                                                <td>{{ u.name }}</td>
                                                <td>{{ u.new_cases }}</td>
                                                <td>{{ u.total_cases }}</td>
                                                <td>{{ u.new_deaths }}</td>
                                                <td>{{ u.total_deaths }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="northernir" class="tab-pane fade">
                                <h3>Northern Ireland</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Area</th>
                                            <th>New cases</th>
                                            <th>Total cases</th>
                                            <th>New deaths</th>
                                            <th>Total deaths</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for u in update[4] %}
                                            <tr>
                                                <td>{{ u.date }}</td>
                                                <td>{{ u.name }}</td>
                                                <td>{{ u.new_cases }}</td>
                                                <td>{{ u.total_cases }}</td>
                                                <td>{{ u.new_deaths }}</td>
                                                <td>{{ u.total_deaths }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <h5>Group line charts</h5>

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a href="{{ url_for('groupline_uknewcases') }}" class="btn btn-info">
                        New cases for the UK & all nations &nbsp; &nbsp;
                        <i class="fa fa-line-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('groupline_uktotalcases') }}" class="btn btn-info">
                        Total cases for the UK & all nations &nbsp; &nbsp;
                        <i class="fa fa-line-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('groupline_uknewdeaths') }}" class="btn btn-danger">
                        New deaths for the UK & all nations &nbsp; &nbsp;
                        <i class="fa fa-line-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('groupline_uktotaldeaths') }}" class="btn btn-danger">
                        Total deaths for the UK & all nations &nbsp; &nbsp;
                        <i class="fa fa-line-chart fa-1x"></i>
                    </a>
                </div>
            </div>
            <br>

            <h5>Individual bar charts</h5>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a href="{{ url_for('bar_uknewcases') }}" class="btn btn-info">
                        UK new cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_uktotalcases') }}" class="btn btn-info">
                        UK total cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_uknewdeaths') }}" class="btn btn-danger">
                        UK new deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_uktotaldeaths') }}" class="btn btn-danger">
                        UK total deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a href="{{ url_for('bar_ennewcases') }}" class="btn btn-default btn-sm">
                        England new cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_entotalcases') }}" class="btn btn-default btn-sm">
                        England total cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_ennewdeaths') }}" class="btn btn-default btn-sm">
                        England new deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_entotaldeaths') }}" class="btn btn-default btn-sm">
                        England total deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a href="{{ url_for('bar_sconewcases') }}" class="btn btn-default btn-sm">
                        Scotland new cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_scototalcases') }}" class="btn btn-default btn-sm">
                        Scotland total cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_sconewdeaths') }}" class="btn btn-default btn-sm">
                        Scotland new deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_scototaldeaths') }}" class="btn btn-default btn-sm">
                        Scotland total deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a href="{{ url_for('bar_wanewcases') }}" class="btn btn-default btn-sm">
                        Wales new cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_watotalcases') }}" class="btn btn-default btn-sm">
                        Wales total cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_wanewdeaths') }}" class="btn btn-default btn-sm">
                        Wales new deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_watotaldeaths') }}" class="btn btn-default btn-sm">
                        Wales total deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a href="{{ url_for('bar_ninewcases') }}" class="btn btn-default btn-sm">
                        Northern Ireland new cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_nitotalcases') }}" class="btn btn-default btn-sm">
                        Northern Ireland total cases &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_ninewdeaths') }}" class="btn btn-default btn-sm">
                        Northern Ireland new deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('bar_nitotaldeaths') }}" class="btn btn-default btn-sm">
                        Northern Ireland total deaths &nbsp; &nbsp;
                        <i class="fa fa-bar-chart fa-1x"></i>
                    </a>
                </div>
            </div>


        </div>

        <br>
        <div class="row">
            <a data-toggle="collapse" href="#collapse2" style="font-size: large;">Comments <span
                    class="badge">{{ comments|length }}</span></a><br>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-group">
                {% for c in comments %}
                    <div class="row">

                        <ul style="list-style: none; padding: 10px; margin-right:10px;margin-left:10px;">
                            <li>
                                <div class="shadow-sm p-2 mb-0 bg-grey">
                                    <span style="display: inline-block; float:left; color: #808080;">{{ c.user }} wrote:</span>
                                    <span style="display: inline-block; float:right; color: darkgrey; font-style: normal;">ip: {{ c.url }},  time: {{ c.time }}</span>
                                    <br>
                                    <span style="color: black;padding: 10px; margin-right:10px;margin-left:10px;">{{ c.text }}</span>
                                </div>
                            </li>
                        </ul>

                    </div>
                {% endfor %}
            </div>
        </div>

        <br>
        <div class="row">
            <form action="./coviduk" method="POST">
                <textarea class="form-control" name="comment" placeholder="Enter a comment"></textarea>
                <br>
                <input type="submit" class="btn btn-success" value="Post comment">
            </form>
        </div>

        <br><br>
        <div class="row">
            <a href="{{ url_for('index') }}" role="button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
                Back
            </a>
        </div>
        <div class="row">
            <br><br>
            <h6>powered by: https://api.coronavirus.data.gov.uk/v1/data</h6>
            <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Hits">
        </div>

    </div>

{% endblock %}