{% extends "base.html" %}
{% block content %}

    <div class="container">

        <div class="row">
            <h3>Please select one of the options</h3>
            <br><br>
        </div>
        <div class="row">
            <form action="{{ url_for('coviduk') }}" method="GET">
                <input type="submit" class="btn btn-primary" value="COVID19, UK" onclick="$('#loading').show();">
            </form>
            <br>
            <p>Coronavirus data from the official UK government sources.</p>
            <p>Presented in a table with numbers shown for the UK as a whole as well as individual nations.</p>
            <p>Also, includes line and bar charts to help visualise the data.</p>
        </div>

        <div class="row">
            <br>
            <br>
            <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Hits">
        </div>

        <div id="loading" style="display:none;">
            <p>Fetching data...</p>
            <img src="{{ url_for('static', filename='loading8.gif') }}" style="width:400px;height:300px;" alt=""/>
        </div>

    </div>

{% endblock %}