<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="container">
  <h2>COVID-19</h2>
  <p>Selected data from the official UK government sources</p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Last updated</th>
        <th>Country</th>
        <th>Area</th>
        <th>New cases</th>
        <th>Total cases</th>
        <th>New deaths</th>
        <th>Total deaths</th>
      </tr>
    </thead>
    <tbody>
    {% for u in update %}
      <tr>
        <td>{{ current_date }}</td>
        <td>{{ u.date }}</td>
        <td>United Kingdom</td>
        <td>{{ u.name }}</td>
        <td>{{ u.new_cases }}</td>
        <td>{{ u.total_cases }}</td>
        <td>{{ u.new_deaths }}</td>
        <td>{{ u.total_deaths }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br><br>
  <div>
    <img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Hits">
    <p>powered by: https://api.coronavirus.data.gov.uk/v1/data</p>
    <p>desidned by: latidude99@gmail.com</p>
  </div>
  </div>
</div>

</body>
</html>
</body>
</html>